    <footer>
        <p>
          <span>
            ⋅•⋅⊰∙∘☽
          </span>
          <a href="https://github.com/ShannyxMP">
            ShannyxMP
          </a>
          © <%= yearNow %>
          <span>
            ☾∘∙⊱⋅•⋅
          </span>
        </p>
    </footer>

    <script src="/main.js"></script>
  </body>
</html>