<h2>This is the footer.</h2>

    <footer>
      <a href="https://github.com/ShannyxMP">
        ShannyxMP
      </a>
      © <%= yearNow %>
    </footer>

    <script src="/main.js"></script>
  </body>
</html>