    <footer>
      <div class="ribbon">
        <p>
          <a href="https://github.com/ShannyxMP">
            ShannyxMP
          </a>
          © <%= yearNow %>
        </p>
      </div>
    </footer>

    <script src="/main.js"></script>
  </body>
</html>