<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Nook</title>

    <link rel="stylesheet" href="/assets/material-icons.css" >
    <link rel="stylesheet" href="/main-collageTheme.css" />
    <link rel="stylesheet" href="/entry(homepage).css" />
    <link rel="stylesheet" href="/entry(other).css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
   </head>

  <body>
    <header>
      <h1 id="title">
        <a href="/">
          <span class="material-icons-round">book</span>Book Nook
        </a>
      </h1>
    </header>
