<%- include("partials/header.ejs") %>

<form action="/fetch-new-entry" method="POST">
  <p>ISBN 10 / 13 (relevant information will be auto-populated for you):</p>

  <input
    type="text"
    name="isbn"
    placeholder="e.g. 978-0-452-29529-2 or 0452295297"
    minlength="10"
    maxlength="17"
    required
    pattern="^(?:[(0-9)][-(0-9)]{9}|\d[-(0-9)]{12}|\d[-(0-9)]{16})$"
  />
  
  <div>
    <a href="/">Cancel</a>
    <input type="submit" value="Find book" />
  </div>
</form>

<p>Preview pane:</p>

<% if (entryToAdd) { %> 
  <%- include("partials/entry.ejs", { 
    entryDetails: entryToAdd, 
    // Conditionals:
    showDatePublished: true, 
    showButtons: false, 
    showForm: true,
    showEditForm: false, 
    showPostForm: true 
  }) %> 
<% } %>

<%- include("partials/footer.ejs", { yearNow: year }) %>
