/********** FORM LAYOUT **********/
input,
textarea {
  padding: 5px 15px;

  background-color: rgba(255, 255, 255, 0.25);
  border: 3px dashed rgba(255, 255, 255, 0.75);

  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  color: white;
}

/********** EDIT-PAGE LAYOUT **********/
/* 
  // Conditionals:
    showLineBreak: false,
    showDatePublished: true, 
    showPreview: false, 
    showButtons: false, 
    showForm: true, 
    showEditForm: true,
    showPostForm: false 
*/

.addEdit-entryPage h2,
h3 {
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  color: white;

  margin-left: 15px;
}

.addEdit-entryPage .entry-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
  grid-auto-rows: auto;

  margin: 20px 8px 0;

  color: white;
}

.addEdit-entryPage .entry-rating {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  justify-content: start;
  align-items: end;

  font-size: 1.8rem;
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
}


.addEdit-entryPage .entry-review {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  margin-top: 20px;
  padding: 30px 15px;

  background-color: #f1eaea;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  border-top: 17px dotted rgb(18 18 18);
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;

  color: #161616;
}

.addEdit-entryPage form {
  grid-column: 1 / -1;
  grid-row: 3 / -1;

  margin-top: 20px;
}

.addEdit-entryPage form div {
  margin-left: 8px;
}

.addEdit-entryPage form textarea {
  width: clamp(80%, 88%, 100%);
  min-height: min(250px);
  resize: vertical;
}

.addEdit-entryPage form .cancelSubmit-btn {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-top: 15px;
  margin-right: 15px;

  gap: 25px;
}

.addEdit-entryPage form .cancelSubmit-btn input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.addEdit-entryPage .entry-content-container a {
  color: white;
}

.addEdit-entryPage .empty {
  font-size: 0.62rem;
  color: #7c7c7c;
  font-weight: 800;
}

/********** ADD-PAGE LAYOUT **********/
/*
  // Conditionals:
    showLineBreak: false,
    showDatePublished: true, 
    showPreview: false,
    showButtons: false, 
    showForm: true,
    showEditForm: false, 
    showPostForm: true  
*/
/* NOTE: Can probably just join the wrapping div class to the CSS above??? */

.isbn-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;

  margin-right: 8px;
}

.isbn-form div {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-top: 15px;

  gap: 25px;
}

.isbn-form a {
  color: white;
}
