/********** FORM LAYOUT **********/
/* Shared between add-entry and edit-entry page */
h2,
h3 {
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  color: white;
}

input,
textarea {
  padding: 5px 15px;

  background-color: rgba(255, 255, 255, 0.25);
  border: 3px dashed rgba(255, 255, 255, 0.75);

  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  color: white;
}

/********** EDIT-PAGE LAYOUT **********/
/* 
  // Conditionals:
    showLineBreak: false,
    showDatePublished: true, 
    showPreview: false, 
    showButtons: false, 
    showForm: true, 
    showEditForm: true,
    showPostForm: false 
*/

/* .edit-entryPage:after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(-30px, 150px) rotate(0.1turn) scale(150%, 150%);

  background-image: url("assets/images/paperclip.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 25%;
  height: 25%;
} */

.edit-entryPage .entry-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
  grid-auto-rows: auto;

  margin: 20px 8px 0;

  color: white;
}

.edit-entryPage .entry-rating {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  justify-content: start;
  align-items: end;

  font-size: 1.8rem;
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
}

.edit-entryPage .entry-review {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  margin-top: 20px;
  padding: 30px 8px;

  background-color: #f1eaea;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  border-top: 17px dotted rgb(18 18 18);
  border-radius: 5px;

  color: #161616;
}

.edit-entryPage .edit-form {
  grid-column: 1 / -1;
  grid-row: 3 / -1;

  margin-top: 20px;
}

.edit-entryPage .edit-form div {
  margin-left: 15px;
}

.edit-entryPage .edit-form textarea {
  width: clamp(80%, 88%, 100%);
  min-height: min(250px);
  resize: vertical;
}

.edit-entryPage .edit-form .cancelSubmit-btn {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-top: 15px;
  margin-right: 15px;

  gap: 25px;
}

.edit-entryPage .edit-form .cancelSubmit-btn input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.edit-entryPage .entry-content-container a {
  color: white;
}
