html {
  background-color: #0a0027;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0 8px;
}

a {
  text-decoration: none;
}

/******************** MOBILE FIRST ********************/
/********** HEADER CONTENT **********/
header {
  margin: 20px;
}

#title {
  margin: 0;

  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-shadow: -2px -2px rgba(0, 0, 0, 0.401);

  /* Background clipped to text */
  background: radial-gradient(#91630f, #e39f00),
    url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  background-size: cover;

  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#title span {
  font-size: 3rem;
}

#title a {
  display: flex;
  align-items: center;

  color: #ab6700;
}

/******************** MOBILE FIRST ********************/
/********** FOOTER CONTENT **********/
footer {
  width: 100%;
  position: relative;
}

footer p {
  font-size: small;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-shadow: -1px -1px rgba(108, 89, 89, 0.401);

  /* Background clipped to text */
  background: radial-gradient(#91630f, #e39f00),
    url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  background-size: cover;

  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-left: 30px;
}

footer span {
  font-size: 1.5rem;
}

footer a:hover {
  /* Background clipped to text */
  background: radial-gradient(#ffffff, #cacaca),
    url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  background-size: cover;

  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ribbon {
  height: 4rem;
  width: 90%;

  position: absolute;
  right: 0px;

  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#940e20, #5b000b);
}

.ribbon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  border-left: 2rem solid #120b27;
  border-right: 2rem solid transparent;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}

/******************** MOBILE FIRST ********************/
/********** HOMEPAGE CONTENT **********/
.stats {
  height: 4rem;
  width: 100%;

  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(#940e20, #5b000b);

  margin-bottom: 20px;
}

.stats p {
  font-size: small;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-shadow: -1px -1px rgba(108, 89, 89, 0.401);
  text-align: right;

  /* Background clipped to text */
  background: radial-gradient(#91630f, #e39f00),
    url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  background-size: cover;

  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  display: flex;
  align-items: center;
  gap: 10px;
}

.stats span {
  font-size: 3rem;
  font-weight: 900;
}

/********** ADD ENTRY/SORTING BUTTONS **********/
.buttons-flex {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-flex a,
span {
  color: #ab6700;
}

#sortBy {
  width: 20px;
  background-color: transparent;
  color: #ab6700;
  border: none;
}
