html {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");

  font-family: "Space Grotesk", sans-serif;
  color: #161616;

  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 8px;

  /* background-color: #f1eaea;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png"); */

  background-color: #f1eaea;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

a {
  text-decoration: none;
  color: #161616;
}

a:hover {
  color: #ff9500;
}

/******************** MOBILE FIRST ********************/
/********** HEADER CONTENT **********/
header {
  padding: 20px 20px 0px;

  color: #f1eaea;
  border-bottom: 10px solid #f1eaea;
}

header a {
  color: #f1eaea;
}

#title {
  margin: 0;

  font-family: "Permanent Marker", serif;
  font-size: 3rem;
}

#title span {
  font-size: 3rem;
}

#title a {
  display: flex;
  align-items: center;
}

/******************** MOBILE FIRST ********************/
/********** FOOTER CONTENT **********/
footer {
  width: 100%;

  margin-top: 30px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: end;

  color: #f1eaea;
  border-top: 0.3rem solid #f1eaea;
}

footer p {
  margin: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: small;
  font-family: "Permanent Marker", serif;
}

footer a {
  color: #f1eaea;
}

footer span {
  font-size: 1.5rem;
}

/******************** MOBILE FIRST ********************/
/********** HOMEPAGE CONTENT **********/
.stats {
  margin: 30px 8px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;

  overflow: visible;

  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  color: #f1eaea;
}

.postIt-notes {
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 15px;
}

.postIt-notes div {
  height: 200px;
  width: 200px;

  box-shadow: 5px 5px 5px black;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: #161616;
}

.postIt-notes div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  /* background-color: #ff55f9; */
  background: linear-gradient(#ff55f9, #cb3ac6, #ff55f9);

  transform: rotate(var(--rotation, 0.01turn));
}

.postIt-notes div:nth-child(1):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 100px 100px 40px 100px;
  border-color: transparent rgba(0, 0, 0, 0.25) rgba(79, 13, 77, 0.25)
    transparent;
}

.postIt-notes div:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1 / -1;

  /* background-color: #55e5ff; */
  background: linear-gradient(#55e5ff, #40bbd1, #2893a5);

  transform: rotate(var(--rotation, -0.005turn));
}

.postIt-notes div:nth-child(2):before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 20px 50px 5px 10px;
  border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) transparent;
}

.postIt-notes p {
  font-size: 1rem;
  font-weight: bold;

  text-decoration: underline double black;
}

.postIt-notes span {
  font-size: 4rem;
  font-weight: bolder;

  text-decoration: none;
}

.postIt-tabs {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, 50px) 1fr;

  margin-bottom: 30px;
}

.postIt-tabs div {
  width: 150px;

  position: relative;

  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 1rem;
  align-self: center;

  box-shadow: 3px 3px 5px black;
}

.postIt-tabs div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  transform: translate(-8px, 0) rotate(var(--rotation, -0.003turn));

  text-align: right;

  background-color: #fcff55;
}

.postIt-tabs div:nth-child(1) a:hover {
  color: #161616;
}

.postIt-tabs div:nth-child(1):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 1rem 0.2rem 1rem 0.5rem;
  border-color: transparent #9b9d29 #9b9d29 transparent;
}


.postIt-tabs div:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  transform: translate(8px, -3px) rotate(var(--rotation, 0.004turn));

  text-align: left;

  background-color: #a7ff55;
}

.postIt-tabs div:nth-child(2):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 0.8rem 0.8rem 0.4rem 0.8rem;
  border-color: transparent transparent #78c331 #78c331;
}

.postIt-tabs div:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  justify-self: end;

  font-size: 0.75rem;

  background-color: #bb55ff;

  transform: translate(var(--xPosition, 150px), 0)
    rotate(var(--rotation, 0.002turn));

  transition: transform 0.5s ease-in-out 0.1s;
}

