html {
  background-color: #0a0300;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0 8px;
}

/******************** MOBILE FIRST ********************/
/********** HEADER CONTENT **********/
header {
  margin-top: 20px;
  margin-left: 20px;
}

#title {
  margin: 0;

  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-shadow: -2px -2px rgba(0, 0, 0, 0.401);

  /* Background clipped to text */
  background: radial-gradient(#424242, #828282),
    url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  background-size: cover;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title span {
  font-size: 3rem;
}

#title a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #ab6700;
}

}
