html {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");

  font-family: "Space Grotesk", sans-serif;
  color: #161616;

  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 8px;

  background-color: #f1eaea;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  box-shadow: 3px 3px 2px black;
}

a {
  text-decoration: none;
  color: #161616;
}

a:hover {
  color: #ff9500;
}

/******************** MOBILE FIRST ********************/
/********** HEADER CONTENT **********/
header {
  padding: 20px 20px 0px;
  margin-bottom: 60px;

  color: #f1eaea;
  border-bottom: 10px solid #f1eaea;
}

header a {
  color: #f1eaea;
}

#title {
  margin: 0;

  font-family: "Permanent Marker", serif;
  font-size: 3rem;
}

/* [x]: adjust position */
#title:after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5px, 80px) rotate(0.008turn);

  background-image: url("assets/images/AS(2).png");
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 1;

  width: 25%;
  height: 25%;
}

#title span {
  font-size: 3rem;
}

#title a {
  display: flex;
  align-items: center;
}

/******************** LARGER VIEWPORTS ********************/
@media only screen and (min-width: 600px) {
  /* [x]: adjust position */
  #title:after {
    transform: translate(-5px, 0) rotate(0.008turn);
    z-index: 1;

    width: 20%;
    height: 20%;
  }
}

/******************** MOBILE FIRST ********************/
/********** FOOTER CONTENT **********/
footer {
  width: 100%;

  margin-top: 120px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: end;

  color: #f1eaea;
  border-top: 0.3rem solid #f1eaea;

  position: relative;
}

footer:before {
  content: "";
  height: 100px;
  width: 100px;

  position: absolute;
  bottom: 0;
  left: 0;

  transform: translate(5px, -35px) rotate(-0.005turn);

  background-image: url("assets/images/AS(1).png");
  background-size: contain;
  background-repeat: no-repeat;
}

footer p {
  margin: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: small;
  font-family: "Permanent Marker", serif;
}

footer a {
  color: #f1eaea;
}

footer span {
  font-size: 1.5rem;
}
